* {
  overflow-x: hidden;
  transition: linear 50ms;
}

body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

h1, h3, h5 {
  text-align: center;
}

p {
  width: 80%;
  line-height: 1.5em;
  font-size: 1.1em;
}

.hero-image {
  background-image: url("./images/misty-mountains.webp");
  height: 200px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1em;
  padding-bottom: 1em;
}

.container {
  max-width: 1200px;
  width: 100%; /* hack to make images fullscreen on mobile */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lazy {
  margin: 1em;
}

.footer {
  margin: 2em;
}

/* make images fullscreen on small mobile */
@media screen and (min-width: 450px) {
  .container { width: 80%; }
  p { width: 100%; }
}

@media screen and (min-width: 600px) {
  body { font-size: 1.3em; }
  p { line-height: 1.5em; }
}

@media screen and (min-width: 999px) {
  body { font-size: 1.5em; }
  p { line-height: 1.7em; }
}
